<template>
    <div>
        {{fooModule.state}}
        <button @click="fooModule.change()">add 1</button>
        <button class="btn btn-outline-primary" type="button" @click="startNewList" v-if="!creatingList">
            + create new list
        </button>

        <template v-if="creatingList">
            Create new list:

            <todo-list :list="getNewList()" :start-editing="true" :allow-delete="false" @update:list="addNewList"
                       @cancel="cancelNewList"/>
        </template>
        <todo-list v-for="list in firestoreModule.todos" :list="list" :key="list.id" @update:list="updateList" @delete="deleteList(list.id)" />

        <button class="btn btn-primary" type="button" @click="toggleSyncTodos">
            Toggle sync todos
        </button>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import TodoList from "@/components/TodoList.vue";
    import {firestoreModule, fooModule} from "@/store/store";
    import * as todo from "@/js/todo";
    import {EditableTodoList} from "@/js/todo";

    @Component({
        components: {
            TodoList
        }
    })
    export default class Firestore extends Vue {
        creatingList: boolean = false;

        get firestoreModule() {
            return firestoreModule;
        }

        get fooModule() {
            return fooModule;
        }

        startNewList() {
            this.creatingList = true;
        }

        getNewList() {
            return EditableTodoList.from({}).toPlainObject();
        }

        addNewList(newList: todo.TodoList) {
            firestoreModule.addList(newList);
            this.creatingList = false;
        }

        cancelNewList() {
            this.creatingList = false;
        }

        toggleSyncTodos() {
            firestoreModule.toggleSyncTodos();
        }

        updateList(updatedList: todo.TodoList) {
            firestoreModule.updateList(updatedList);
        }

        deleteList(id: string) {
            firestoreModule.deleteList(id);
        }
    }
</script>