<template>
    <div class="card">
        <h1 class="card-header text-center">
            <template v-if="isLoggedIn">
                Hello, {{auth.currentUser.displayName}}!
            </template>

            <template v-if="!isLoggedIn">
                Login
            </template>
        </h1>
        <div class="card-body text-center">
            <template v-if="!isAuthInitialized || loggingIn || loggingOut">
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
                </div>
            </template>

            <template v-if="isLoggedIn && isAuthInitialized">
                <button type="button" class="btn btn-outline-primary" :disabled="loggingOut" @click="logout()">
                    Logout
                </button>
            </template>

            <template v-if="!isLoggedIn && isAuthInitialized">
                <button type="button" class="btn btn-danger" :disabled="loggingIn" @click="login()">
                    Login with Google
                </button>
            </template>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {auth} from "@/firebase";
    import {initSignInWithGoogle} from "@/js/auth/providers";
    import {isLoggedIn} from "@/js/auth/utils";
    import {onAuthInit} from "@/js/auth/init-auth";

    @Component({
        componentId: true
    })
    export default class Login extends Vue {

        isAuthInitialized: boolean = false;
        isLoggedIn: boolean = false;

        loggingIn: boolean = false;
        loggingOut: boolean = false;

        get auth() {
            return auth;
        }

        mounted() {
            auth.onAuthStateChanged(() => {
                this.isLoggedIn = isLoggedIn();
            });

            onAuthInit(() => {
                this.isAuthInitialized = true;
            });
        }

        async login() {
            this.loggingIn = true;
            await initSignInWithGoogle();
            this.loggingIn = false;
        }

        async logout() {
            this.loggingOut = true;
            await auth.signOut();
            this.loggingOut = false;
        }

    }
</script>