<template>
    <div>
        <button class="btn btn-outline-primary" type="button" @click="startNewList" v-if="!creatingList">
            + create new list
        </button>

        <template v-if="creatingList">
            Create new list:

            <todo-list :list="getNewList()" :start-editing="true" :allow-delete="false" @update:list="addNewList"
                       @cancel="cancelNewList"/>
        </template>

        <todo-list v-for="list in todos.lists" :list="list" @update:list="updateList" @delete="deleteList(list)"
                   :key="list.id"/>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import TodoList from "@/components/TodoList.vue";

    import {UpdateListPayload} from "@/store/modules/todos";
    import * as todo from "@/js/todo";
    import {EditableTodoList} from "@/js/todo";
    import {todosModule} from "@/store/store";

    @Component({
        components: {
            TodoList
        }
    })
    export default class Todos extends Vue {
        creatingList: boolean = false;

        get todos() {
            return todosModule;
        }

        startNewList() {
            this.creatingList = true;
        }

        getNewList() {
            return EditableTodoList.from({}).toPlainObject();
        }

        addNewList(newList: todo.TodoList) {
            todosModule.addList(newList);
            this.creatingList = false;
        }

        cancelNewList() {
            this.creatingList = false;
        }

        updateList(list: UpdateListPayload) {
            todosModule.updateList(list);
        }

        deleteList(list: todo.TodoList) {
            todosModule.removeList(list);
        }
    }
</script>