<template>
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <template v-if="!editing">
                {{editableList.title}}

                <button class="btn btn-outline-primary btn-sm ml-2" @click="edit" type="button" :key="$id('edit')">
                    Edit
                </button>
            </template>

            <template v-if="editing">
                <input class="form-control d-inline-block w-auto mb-0" v-model="editableList.title">

                <button class="btn btn-primary btn-sm ml-2" @click="save" type="button" :key="$id('save')">
                    Save
                </button>

                <button class="btn btn-secondary btn-sm ml-2" @click="cancel" type="button" :key="$id('cancel')">
                    Cancel
                </button>

                <button class="btn btn-outline-danger btn-sm ml-2" @click="deleteList" type="button"
                        v-if="allowDelete" :key="$id('delete')">
                    Delete
                </button>
            </template>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li class="d-flex my-1" v-for="item in editableList.items" :key="item.id">
                    <div class="custom-control custom-checkbox d-inline-block">
                        <input type="checkbox" class="custom-control-input" :id="$id(item.id)"
                               v-model:checked="item.done" @change="updateStatus()">
                        <label class="custom-control-label" :for="$id(item.id)">{{!editing ? item.text : ""}}</label>
                    </div>

                    <div class="flex-fill">
                        <div class="input-group input-group-sm" v-if="editing">
                            <input class="form-control" v-model="item.text">
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger" type="button"
                                        @click="editableList.removeItem(item)">
                                    &times;
                                </button>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="my-1" v-if="editing">
                    <button class="btn btn-outline-primary btn-sm" type="button" @click="editableList.addItem()">
                        + add item
                    </button>
                </li>
            </ul>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {Prop, Watch} from "vue-property-decorator";
    import * as todo from "@/js/todo";

    @Component({
        componentId: true
    })
    export default class TodoList extends Vue {
        @Prop({required: true}) readonly list!: todo.TodoList;

        @Prop({default: false}) readonly startEditing!: boolean;
        @Prop({default: true}) readonly allowDelete!: boolean;

        editableList: todo.EditableTodoList = new todo.EditableTodoList();
        editing: boolean = this.startEditing;

        @Watch("list", {immediate: true, deep: true})
        onListUpdate(newList: todo.TodoList) {
            if (this.editing) {
                this.editableList.merge(newList);
            } else {
                this.editableList = todo.EditableTodoList.from(newList);
            }
        }

        edit() {
            this.editing = true;
        }

        save() {
            this.editing = false;
            this.$emit("update:list", this.editableList);
        }

        cancel() {
            this.editing = false;
            this.editableList = todo.EditableTodoList.from(this.list);
            this.$emit("cancel");
        }

        deleteList() {
            this.$emit("delete");
        }

        updateStatus() {
            if (!this.editing) {
                this.$emit("update:list", this.editableList);
            }
        }
    }
</script>