<template>
    <div id="app">
        <login/>
        <todos/>
        <firestore/>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import Todos from "@/views/Todos.vue";
    import Firestore from "@/views/Firestore.vue";
    import Login from "@/views/Login.vue";

    @Component({
        components: {
            Login,
            Firestore,
            Todos
        }
    })
    export default class App extends Vue {
    }
</script>